In [87]:
class BankServices:
    value1 = 500000
    def __init__(self, amount):
        self.total = amount
    def deposite(self, value):
        self.total = self.total + value
        return self.total
    def withdraw(self, value):
        if(value > self.total):
            return "Amount is more than the balance"
        else:
            self.total = self.total - value
            return self.total
    def account_summary(self):
        s1 = "Name: Rahul"
        s2 = "Account_type: Savings"
        s3 = "Bank: ABC"
        print(s1)
        print(s2)
        print(s3)
    @classmethod
    def limit(cls):
        print("The maximum limit of this account is:",cls.value1)
    @staticmethod
    def services(service):
        list1 = ['deposit','withdraw']
        if service in list1:
            print("This service is available in this bank")
        else:
            print("This service is not available in this bank")
obj = BankServices(50000)

In [88]:
obj.deposite(2000)

52000

In [89]:
obj.withdraw(26000)

26000

In [74]:
obj.limit()

The maximum limit of this account is: 500000

In [75]:
obj.services('transfer')

This service is not available in this bank

In [73]:
obj.account_summary()

Name: Rahul
Account_type: Savings
Bank: ABC