In [24]:
#this function checks if the input password is valid or not
def password_checker(pswd):
    flag1 = 0
    flag2 = 0
    flag3 = 0
    flag4 = 0

    for char in pswd:
        if char.isupper():
            flag1 = 1
        elif char.islower():
            flag2 = 1  
        elif(char in '!@$#%&*^'):
            flag3 = 1 
        elif char.isdigit():
            flag4 = 1 

    if(flag1==1 and flag2==1 and flag3==1 and flag4==1 and len(pswd) >= 8):
        print('Valid Password')
    else:
        print('Invalid Password')
                
_pswd = input()
password_checker(_pswd)

ajdjdjHGHDHA3656#
Valid Password

In [17]:
#THIS FUNCTION CALCULATES
def calculator(num1,num2,opr):
    if(opr == '+'):
        return num1+num2
    elif(opr == '-'):
        return num1-num2
    elif(opr == '*'):
        return num1*num2
    else:
        return num1/num2
    
num1 = int(input())
num2 = int(input())
opr = input()
calculator(num1,num2,opr)

4
5
+

9

In [85]:
a = 2
for i in range(a*a + 1):
    for j in range(i):
        print(a,end=" ")
        a = a+2
    print()

2
4 6
8 10 12
14 16 18 20

In [56]:
a = 0 
b = 1
for i in range(10):
    print(a,end=" ")
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34

In [84]:
def fxn(a,n):
    if(n==0):
        return 1
    else:
        b = a * fxn(a,n-1)
        print(b,end=" ")
        return b
        
a = 2
n = 10
fxn(a,n)

2 4 8 16 32 64 128 256 512 1024

1024

In [83]:
for i in range(1,101):
    if(i%2==0):
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [60]:
s = 'Kartik Vashist'
print(s[::-1])

tsihsaV kitraK

In [63]:
def fxn(n):
    for i in range(1,n+1):
        if(i%2==0 or i%3==0 or i%5==0):
            print(i,end=" ")
n = int(input())
fxn(n)

10
2 3 4 5 6 8 9 10

In [67]:
ls1 = ['ab','','ghdghd']
ls2=[]
for i in ls1:
    if(len(i)>0):
        ls2.append(i)
print(ls2)

['ab', 'ghdghd']

In [73]:
ls1 = ['ab','','hgsh']
for i in ls1:
    if(len(i)==0):
        ls1.remove(i)
print(ls1)

['ab', 'hgsh']

In [79]:
ls1 = [1,2,3,4]
ls2 = list(i*i for i in ls1)
print(ls2)

[1, 4, 9, 16]

In [92]:
ls1 = [1,2,3,4,5,6]
ls2 = [10,20,30,40,50,60]
ls3 = []
for i in range(len(ls1)):
    if(i%2!=0):
        ls3.append(ls1[i])
        
for i in range(len(ls2)):
    if(i%2==0):
        ls3.append(ls2[i])
print(ls3)

[2, 4, 6, 10, 30, 50]

In [81]:
ls1 = [1,2,3,4,2,3,1,2,3]
dct = {}
for i in ls1:
    if(i in dct):
        count = dct[i]
        count += 1
        dct[i] = count
    else:
        dct[i] = 1
print(dct)

{1: 2, 2: 3, 3: 3, 4: 1}

In [88]:
ls1 = [1,2,34,5,2,3,12,2]
ls2 = list(set(ls1))
tp1 = tuple(ls2)       
print(max(tp1),min(tp1))

34 1

In [91]:
def fact(n):
    if(n==0):
        return 1
    elif(n==1):
        return 1
    else:
        return n*fact(n-1)
print(fact(6))

720

In [105]:
import pandas as pd
df1 = pd.read_csv("imports-85.data",header = None,na_values = "?")
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [108]:
df1.isnull().sum()
df1.columns = ["Symboling","normalized-loses","make","fuel-type","aspiration",'num-of-doors',"body-style","drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]

In [117]:
df_removal1 = df1.drop("normalized-loses", axis = 1, inplace=True)
df_removal2 = df1.dropna(axis=0)

In [118]:
df1.sort_values(by = "price",ascending = False)

,Symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
74,1,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
16,0,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
73,0,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
128,3,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,37028.0
17,0,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,...,97,2bbl,3.62,2.36,9.0,69.0,4900.0,31,36,5118.0
9,0,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,1,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,0,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,1,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [120]:
df1.groupby("make").get_group("bmw")

,Symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
10,2,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16430.0
11,0,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16925.0
12,0,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,20970.0
13,0,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,21105.0
14,1,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,20,25,24565.0
15,0,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,30760.0
16,0,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
17,0,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0

In [121]:
df1.groupby("make")["horsepower","wheel-base"].max()

C:\Users\kvashist\AppData\Local\Temp\ipykernel_2652\98868789.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1.groupby("make")["horsepower","wheel-base"].max()

               horsepower  wheel-base
make
alfa-romero         154.0        94.5
audi                160.0       105.8
bmw                 182.0       110.0
chevrolet            70.0        94.5
dodge               145.0       103.3
honda               101.0        96.5
isuzu                90.0        96.0
jaguar              262.0       113.0
mazda               135.0       104.9
mercedes-benz       184.0       120.9
mercury             175.0       102.7
mitsubishi          145.0        96.3
nissan              200.0       100.4
peugot              142.0       114.2
plymouth            145.0       103.3
porsche             288.0        98.4
renault               NaN        96.1
saab                160.0        99.1
subaru              111.0        97.2
toyota              161.0       104.5
volkswagen          110.0       100.4
volvo               162.0       109.1